@import "../variables";

.categories {
   @media (max-width: 1200px) {
      margin-bottom: 25px;
   }

   @media (max-width: 900px) {
      width: 100%;
      overflow-x: auto;
      padding-bottom: 20px;
   }

   ul {
      display: flex;

      @media (max-width: 900px) {
         width: 820px;
      }

      li {
         background-color: #f3f1f1;
         padding: 13px 30px;
         border-radius: 30px;
         margin-right: 10px;
         font-weight: bold;
         cursor: pointer;
         transition: background-color 0.1s ease-in-out;
         @include noselect();

         &:hover {
            background-color: darken(#f9f9f9, 2%);
         }

         &:active {
            background-color: darken(#f9f9f9, 5%);
         }

         &.active {
            background-color: #282828;
            color: #fff;
         }
      }
   }
}
